<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vector">
            <h2><span>Vector</span> {{vector.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Data</span></dt>
                <dd>
                    <span>{{vector.data}}</span>
                </dd>
                <dt><span>Encoded</span></dt>
                <dd>
                    <span>{{vector.encoded}}</span>
                </dd>
                <dt><span>Transfered</span></dt>
                <dd>
                    <span>{{vector.transfered}}</span>
                </dd>
                <dt><span>Decoded</span></dt>
                <dd>
                    <span>{{vector.decoded}}</span>
                </dd>
                <dt><span>Probability</span></dt>
                <dd>
                    <span>{{vector.probability}}</span>
                </dd>
                <dt><span>Errors</span></dt>
                <dd>
                    <span>{{vector.errors}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vector', vector.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
