<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vector-heading">Create or edit a Vector</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_data">Data</label>
                    <input type="text" class="form-control" name="data" id="field_data"
                           formControlName="data"
                           [readOnly]="editForm.get('id').value"
                           pattern="^[0-1]{12}$"/>
                </div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label class="form-control-label" for="field_encoded">Encoded</label>
                    <input type="text" class="form-control" name="encoded" id="field_encoded"
                           formControlName="encoded"
                           readonly/>
                </div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label class="form-control-label" for="field_transfered">Transferred</label>
                    <input type="text" class="form-control" name="transfered" id="field_transfered"
                           formControlName="transfered"
                           pattern="^[0-1]{23}$"/>
                </div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label class="form-control-label" for="field_decoded">Decoded</label>
                    <input type="text" class="form-control" name="decoded" id="field_decoded"
                           formControlName="decoded"
                           readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_probability">Probability</label>
                    <input class="form-control" formControlName="probability" id="field_probability" name="probability"
                           type="number"
                           [readOnly]="editForm.get('id').value"/>
                </div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label class="form-control-label" for="field_errors">Errors</label>
                    <input type="text" class="form-control" name="errors" id="field_errors"
                           formControlName="errors"
                           readonly/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
