<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-image-heading">Create or edit a Image</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_file">File</label>
                    <div>
                        <img [src]="'data:' + editForm.get('fileContentType').value + ';base64,' + editForm.get('file').value" style="max-height: 100px;" *ngIf="editForm.get('file').value" alt="image image"/>
                        <div *ngIf="editForm.get('file').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('fileContentType').value}}, {{byteSize(editForm.get('file').value)}}</span>
                            <button type="button" (click)="clearInputImage('file', 'fileContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_file" (change)="setFileData($event, 'file', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="file" id="field_file"
                           formControlName="file"/>
                    <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                           formControlName="fileContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_probability">Probability</label>
                    <input type="number" class="form-control" name="probability" id="field_probability"
                           formControlName="probability"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
